version: "3"
services:
  redis:
    image: redis
  requestbin:
    # image: crccheck/requestbin
    build: .
    container_name: requestbin
    depends_on:
      - redis
    environment:
      REDIS_URL: redis://redis:6379/0
      TTL_DAYS: ${TTL_DAYS:-30}
      # SESSION_SECRET_KEY
      # BUGSNAG_KEY
    ports:
      - ${BIN_PORT:-8000}:80
